<h5 class="card-header" style="background-color: #520dc2; color: #fff; font-weight: 700;">@TimeTableDay!.Date</h5>
<div class="card-body">
    @if (TimeTableDay.ItemsInDay!.Count() <= 0)
    {
        <h5 style="font-style: italic; font-weight: 700; text-align: center; opacity: 0.5;">ТУТ НИЧЕГО НЕТ...</h5>
    }
    else {
        @foreach (var dayItem in TimeTableDay.ItemsInDay!)
        {
            <div class="card" style="margin-bottom: 10px; padding: 10px;">
                    <h6 style="font-weight: 700;">@dayItem.LessonName <span style="opacity: 0.6;">@dayItem.Time</span></h6>
                    @if (dayItem.LT == TimeTableItem.LessonType.Практика) {
                        <h6 style="background-color: #9ec5fe; width: 80px; text-align: center; border-radius: 2px;">@dayItem.LT</h6>
                    }
                    else if (dayItem.LT == TimeTableItem.LessonType.Лабораторная_работа) {
                        <h6 style="background-color: #fecba1; width: 180px; text-align: center; border-radius: 2px;">@dayItem.LT</h6>
                    }
                    else if (dayItem.LT == TimeTableItem.LessonType.Лекция) {
                        <h6 style="background-color: #a6e9d5; width: 65px; text-align: center; border-radius: 2px;">@dayItem.LT</h6>
                    }
                    else if (dayItem.LT == TimeTableItem.LessonType.Экзамен) {
                        <h6 style="background-color: #c5b3e6; width: 75px; text-align: center; border-radius: 2px;">@dayItem.LT</h6>
                    }
                    else {
                        <h6 style="background-color: #f1aeb5; width: 115px; text-align: center; border-radius: 2px;">@dayItem.LT</h6>
                    }
                    <h6>@dayItem.Location</h6>
                    <h6 style="font-style: italic; opacity: 0.6;">@dayItem.Teacher</h6>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public TimeTableDay? TimeTableDay { get; set; }
}